@font-face {
  font-family: cubic-core-mono;
  src: url(../../assets/fonts/cubic-core-mono/CubicCoreMono.ttf) format("truetype");
}

@font-face {
  font-family: bebas-neue;
  src: url(../../assets/fonts/bebas_neue/BebasNeue-Regular.ttf) format("truetype");
}