<div class="bg-black container max-w-screen-lg mx-auto pb-10">
  <div class="grid grid-cols1 gap-4 mb-4">
    <iframe
      width="100%"
      height="400"
      src="https://www.youtube.com/embed/jYa4GXi393c?si=FpoAeuC8dg4UR-I7"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen>
    </iframe>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <iframe
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/J6sajf8xSqc"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
      </iframe>
    </div>
    <div>
      <iframe
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/iKbHWiFExNQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
