<div class="bg-black">
    <div class="spotify-wrapper container max-w-screen-lg mx-auto pb-10">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/515oQ5OUGbfihTGx771629?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
</div>
<div class="bg-black container max-w-screen-lg mx-auto pb-10">
    <div class="grid grid-cols-3 gap-4">
        <div>
            <iframe
                width="100%"
                height="315"
                src="https://www.youtube.com/embed/Yb0gmdpDjTg"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
        <div>
            <iframe
                width="100%"
                height="315"
                src="https://www.youtube.com/embed/J6sajf8xSqc"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
        <div>
            <iframe
                width="100%"
                height="315"
                src="https://www.youtube.com/embed/iKbHWiFExNQ"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
    </div>
</div>