<div id="live" class="bg-black">
    <div class="spotify-wrapper container max-w-screen-lg mx-auto">
        <a
            href="https://www.songkick.com/artists/10291503"
            class="songkick-widget"
            data-theme="dark"
            data-track-button="on"
            data-detect-style="off"
            data-background-color="rgb(0,0,0,1)"
            data-font-color="rgb(255,255,255,1)"
            data-locale="en"
            data-other-artists="on"
            data-share-button="on"
            data-country-filter="on"
            data-rsvp="on"
            data-request-show="on"
            data-past-events="on"
            data-past-events-offtour="on"
            data-remind-me="on">
        </a>
    </div>
</div>